.front {
  .content {
    margin-top: 0px;
    a,
    .strong {
      color: $color-blue-violet;
    }
    .button {
      &.donate,
      &.selected {
        background-color: $color-lime;
        color: $color-black;
      }
      &:hover {
        background-color: $color-lime;
      }
    }
    .perk.selected {
      box-shadow: 8px 8px $color-lime;
    }
    .donate-buttons .price-btn {
      background-color: $color-blue-violet;
      &.selected {
        background-color: $color-lime;
        color: $color-black;
      }
    }
    .required-information {
      color: $color-lime;
    }
    select,
    select.required {
      border-color: $color-lime;
      color: $color-black;
    }
  }
}
