<div>
  {{ this.intro }}
</div>
<div class="donate-form">
  <div id="campaign-totals-area"></div>
  <div id="giving-form"></div>
</div>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id={{ bag('donate', envvars('ENV'), 'paypalClientId') }}&vault=true"></script>
<script type="text/javascript">
  window.reactComponents = [
    {
      id: 'giving-form',
      name: 'GivingForm',
      props: {
        'stripePublishableKey': `{{ bag('donate', envvars('ENV'), 'stripePublishableKey') }}`,
        'frequencyOptions': `{{ this.frequency }}`,
        'pricesOnButtons': {
          'single': [
            parseInt(`{{ this.single_one }}`),
            parseInt(`{{ this.single_two }}`),
            parseInt(`{{ this.single_three }}`),
            parseInt(`{{ this.single_four }}`),
            parseInt(`{{ this.single_five }}`)
          ],
          'monthly': [
            parseInt(`{{ this.monthly_one }}`),
            parseInt(`{{ this.monthly_two }}`),
            parseInt(`{{ this.monthly_three }}`),
            parseInt(`{{ this.monthly_four }}`),
            parseInt(`{{ this.monthly_five }}`)
          ]
        },
        'perks': [
          {
            'name': 'stickers',
            'friendly_name': {
              'single': `{{ this.sticker_perk_single_label }}`,
              'monthly': `{{ this.sticker_perk_monthly_label }}`
            },
            'image': {
              'single': `{{ this.sticker_perk_single_image | asseturl }}`,
              'monthly': `{{ this.sticker_perk_monthly_image | asseturl }}`
            },
            'description': {
              'single': `{{ this.sticker_perk_single_description }}`,
              'monthly': `{{ this.sticker_perk_monthly_description }}`,
            },
            'price': {
              'single': parseInt(`{{ this.single_one }}`),
              'monthly': parseInt(`{{ this.monthly_two }}`),
            },
            'options': null,
            'requiredFields': [],
          },
          {
            'name': 't-shirt',
            'friendly_name': {
              'single': `{{ this.tshirt_perk_single_label }}`,
              'monthly': `{{ this.tshirt_perk_monthly_label }}`
            },
            'image': {
              'single': `{{ this.tshirt_perk_single_image | asseturl }}`,
              'monthly': `{{ this.tshirt_perk_monthly_image | asseturl }}`
            },
            'description': {
              'single': `{{ this.tshirt_perk_single_description }}`,
              'monthly': `{{ this.tshirt_perk_monthly_description }}`,
            },
            'price': {
              'single': parseInt(`{{ this.single_two }}`),
              'monthly': parseInt(`{{ this.monthly_three }}`),
            },
            'options': null,
            'requiredFields': ['shirt1Fit', 'shirt1Size'],
          },
          {
            'name': 't-shirt-pack',
            'friendly_name': {
              'single': `{{ this.tshirt_pack_perk_single_label }}`,
              'monthly': `{{ this.tshirt_pack_perk_monthly_label }}`
            },
            'image': {
              'single': `{{ this.tshirt_pack_perk_single_image | asseturl }}`,
              'monthly': `{{ this.tshirt_pack_perk_monthly_image | asseturl }}`
            },
            'description': {
              'single': `{{ this.tshirt_pack_perk_single_description }}`,
              'monthly': `{{ this.tshirt_pack_perk_monthly_description }}`,
            },
            'price': {
              'single': parseInt(`{{ this.single_three }}`),
              'monthly': parseInt(`{{ this.monthly_four }}`),
            },
            'options': [
              {
                'name': 'strength-in-numbers',
                'friendlyName': 'Strength in Numbers',
                'image': {
                  'single': `{{ this.tshirt_pack_perk_single_image | asseturl }}`,
                  'monthly': `{{ this.tshirt_pack_perk_monthly_image | asseturl }}`
                }
              },
            ],
            'requiredFields': ['shirt1Fit', 'shirt1Size', 'shirt2Fit', 'shirt2Size'],
          },
          {
            'name': 'sweatshirt',
            'friendly_name': {
              'single': `{{ this.sweatshirt_perk_single_label }}`,
              'monthly': `{{ this.sweatshirt_perk_monthly_label }}`
            },
            'image': {
              'single': `{{ this.sweatshirt_perk_single_image | asseturl }}`,
              'monthly': `{{ this.sweatshirt_perk_monthly_image | asseturl }}`
            },
            'description': {
              'single': `{{ this.sweatshirt_perk_single_description }}`,
              'monthly': `{{ this.sweatshirt_perk_monthly_description }}`,
            },
            'price': {
              'single': parseInt(`{{ this.single_five }}`),
              'monthly': parseInt(`{{ this.monthly_five }}`),
            },
            'options': null,
            'requiredFields': ['sweatshirtSize'],
          },
        ],
        'shirtFits': {
          'strength-in-numbers': {
            'friendly-name': `{{ this.tshirt_perk_options_label }}`,
            'fits': {
              'slim': {
                'friendly-name': 'Slim',
                'sizes': ['s', 'm', 'l', 'xl', 'xxl']
              },
              'classic': {
                'friendly-name': 'Classic',
                'sizes': ['s', 'm', 'l', 'xl', 'xxl']
              },
            }
          },
          'take-back-internet': {
            'friendly-name': `{{ this.tshirt_pack_second_shirt_options_label }}`,
            'fits': {
              'slim': {
                'friendly-name': 'Slim',
                'sizes': ['s', 'm', 'l', 'xl', 'xxl']
              },
              'classic': {
                'friendly-name': 'Classic',
                'sizes': ['s', 'm', 'l', 'xl', 'xxl']
              },
            }
          },

        },
        'defaultFrequencyForBoth': `{{ this.default_frequency_for_both }}`,
        'initialSelectedPrices': {
          'single': parseInt(`{{ this.single_three }}`),
          'monthly': parseInt(`{{ this.monthly_three }}`),
        },
        'donateProccessorBaseUrl': `{{ bag('donate', envvars('ENV'), 'donateProccessorBaseUrl') }}`,
        'successRedirectUrl': `{{ this.success_redirect_url }}`,
        'assetBaseUrl': `{{ '/' | asseturl }}`,
      },
    }
  ];
  if (`{{ this.counter }}` == 'True'){
    window.reactComponents.push(
      {
        id: 'campaign-totals-area',
        name: 'CampaignTotals',
        props: {
          'donateProccessorBaseUrl': `{{ bag('donate', envvars('ENV'), 'donateProccessorBaseUrl') }}`,
          'counters': [
            {
              'cssClass': 'supporters',
              'field': 'totalDonations',
              'label': `{{ this.number_of_donations_counter_label }}`,
            },
            {
              'cssClass': 'total-donated',
              'field': 'totalAmount',
              'label': `{{ this.total_donated_counter_label }}`,
            },
            {
              'cssClass': 'total-matched',
              'field': 'amountWithMozilla',
              'label': `{{ this.total_matched_counter_label }}`,
            }
          ],
        },
      }
    );
  }
</script>
  <script type="text/javascript" src="{{ '/static/gen/donate.js' | asseturl }}"></script>
