{% include 'meta.html' %}
  <div class="page pt-4">
    {% include 'header.html' %}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% set locale = bag('alternatives', this.alt) %}
        <main role="main" class="mx-auto col-12 {{ locale.order }} {{ locale.direction }}">
          {% if this.section_id != 'donate' %}
          <div class="container py-3 mt-5 preamble">
            {{ this.body }}
          </div>
          {% endif %}
          {% include this.html %}
        </main>
      </div>
    </div>
  </div>
  {% if this.section == "Download" %}
    {% include 'footer-min.html' %}
  {% else %}
    {% include 'footer.html' %}
  {% endif %}
</body>
</html>
